.history-item {
    transition: background-color 0.3s; /* Adds a smooth transition effect */
  }
  
  .history-item:hover {
    background-color: #00000029;
  }

  .highlight {
    background-color: yellow; /* Or any highlight color you prefer */
  }
  