<nav class="navbar navbar-expand-lg navbar-absolute fixed-top color navbar-transparent">
  <div class="container-fluid me-3">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand title" href="javascript:void(0)">Ethics Information Management System</a>
    </div>
    <button class="navbar-toggler" type="button" (click)="collapse()" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end " id="collapseExample" [ngbCollapse]="isCollapsed">

      <!-- <form>
        <div class="input-group" style=" border-bottom: #9F9F9F solid 2px ;">
          <div class="input-group-prepend ">
            <div class="input-group-text" style="border: none; background-color: transparent;">
              <i class="nc-icon nc-zoom-split mr-4"></i>
            </div>
          </div>
          <input type="text" value class="form-control" placeholder="Search..." />
        </div>
      </form> -->

      <ul class="navbar-nav ">
        <li class="nav-item ms-2 me-3 pt-2 " >
          <div class="bell d-flex align-items-center">
            <img src="./assets/icons/main-layout-icons/notifications.svg" alt="Icon" class="icon">
            <span *ngIf="notificationCount > 0" class="top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{notificationCount}}
              <span class="visually-hidden">notifications</span>
            </span>
          </div>
        </li>
        <li class="nav-item pt-2">
       
          <p class="fw-bold text-uppercase" style="font-size:15px">{{ user.data.name }}</p>
        </li>

        <li class="nav-item btn-rotate" ngbDropdown placement="bottom-left">
          <a class="nav-link" ngbDropdownToggle id="navbarDropdownMenuLink">           
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-css dropdown-menu-end" >
            <a ngbDropdownItem href="javascript:void(0)" [ngbTooltip]="userDetails" placement="left" 
            container="body" >Personal Details</a>
            <!-- <a ngbDropdownItem href="javascript:void(0)" *ngIf="isAdmin" (click)="openDepartmentsModal()">Departments</a> -->
            <a ngbDropdownItem href="javascript:void(0)" routerLink="/" (click)="logout()">Log Out</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-rotate" href="javascript:void(0)">
            <i class="nc-icon nc-settings-gear-65"></i>
            <p>
              <span class="d-lg-none d-md-block">Account</span>
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <ng-template #userDetails>
    <div style="font-size: 12px;">
      <p class="m-0"> <strong>Name:</strong> {{ user.data.name }} </p>
      <p class="m-0"> <strong>Personal No:</strong> {{ user.data.staffNo }}</p>
      <p class="m-0"><strong>Department:</strong> {{ user.data.department }}<br></p>
      <p class="m-0"> <strong>Designation:</strong> {{ user.data.grade.description }}</p>
      <p class="m-0"> <strong>Supervisor Name:</strong>{{supName}} </p>
      <p class="m-0"><strong>Supervisor Personal No:</strong> {{supStaffNo}} </p>
    </div>
  </ng-template>

  
</nav>