<div class="container pt-3">
  <h2 class="fw-bold card-titles px-0">Declaration Progress</h2>

  <div class="row p-0">
    <div class="col p-0">
      <mat-vertical-stepper [linear]="false">
        <ng-template matStepperIcon="edit">
          <mat-icon>radio_button_unchecked</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="chat">
          <mat-icon>radio_button_unchecked</mat-icon>
        </ng-template>

        <mat-step  state="chat" *ngFor="let item of items" >
          <ng-template matStepLabel style="font-size: 12px;">
            <span class="fw-semibold ps-2" style="font-size: 12px;">{{ item.title }}</span>
          </ng-template>
          <p class="p-0" style="font-size: 12px;">{{ item.description }}</p>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>

</div>
