<div class="container p-0 ">
  <div>
    <nav class="navbar header-nav">
      <span class="dashboard-heading">Hello <strong>{{ user.data.name }}</strong>, Welcome to EIMS</span>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="row d-flex align-items-stretch">

      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="card h-100 px-3">
          <div class="row mb-2 pt-2">
            <h3 class="fw-bold card-titles">Assign Roles and Privileges</h3>
          </div>

          <div class="row mb-2">
            <div class="col">
              <p class="text2">Search User to Assign</p>
            </div>
          </div>

          <div>
            <ngb-alert [dismissible]="true" *ngIf="alertMessage" type="success" (closed)="alertMessage = false">
              <span style="font-size: 12px">{{ alertMessage }}</span>
            </ngb-alert>
          </div>

          <div>
            <ngb-alert [dismissible]="true" *ngIf="errorMessage" type="danger" (closed)="errorMessage = false">
              <span style="font-size: 12px">{{ errorMessage }}</span>
            </ngb-alert>
          </div>

          <div class="row">
            <div class="col">
              <form>
                <div class="search-container">
                  <i class="material-icons">search</i>
                  <input type="text" placeholder="Search by Name or P.No" class="search-bar"
                    [formControl]="searchControl" />
                </div>
              </form>

              <div class="search-results-container shadow" *ngIf="!isRequestSuccessful && !isUserSelected">
                <div class="line-container">
                  <ul>
                    <li *ngFor="let result of filteredResults" class="line-textt" (click)="onSelectUser(result)">
                      {{ result.firstName }} {{ result.lastName }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row " *ngIf="isUserSelected">
            <div class="col">
              <div class="line-container">
                <div *ngFor="let member of members" class="line-text d-flex justify-content-between">
                  {{ member.firstName }} {{ member.lastName }}
                  <i class="material-icons delete-icon" (click)="onClearSearchInput()">delete</i>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <p class="text2">Assign Role</p>
            </div>
          </div>

          <div class="row mb-2">
            <ng-container *ngFor="let role of Roles">
              <div class="col-6 mb-3">
                <button (click)="getPrivileges(role.name)" class="w-100 button_style" style="font-size: 12px"
                  [ngClass]="{ highlighted: role.isSelected }" [ngClass]="{ default: isRequestSuccessful }">
                  {{ role.name }}
                </button>
              </div>
            </ng-container>
          </div>

          <div class="row">
            <div class="col">
              <p class="assign-privileges-text">Assign Privileges</p>
            </div>
          </div>

          <form>
            <div class="row mb-2">
              <ng-container *ngFor="let privilege of Priviledges">
                <div class="col-6">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="{{ privilege.id }}" disabled />
                    <!-- [checked]="isChecked(privilege)" -->
                    <!-- (change)="togglePrivilegeSelection(privilege)" -->
                    <label class="form-check-label" for="{{ privilege.id }}">
                      {{ privilege.name }}
                    </label>
                  </div>
                </div>
              </ng-container>
            </div>
          </form>

          <form>
            <div class="row mt-5 mb-3" style="display: flex; flex-direction: column">
              <div class="col">
                <div class="d-flex justify-content-centeSubmitr w-100">
                  <button type="submit" class="btn btn-black btn-lg w-100" (click)="onSubmitRoleAssignee()">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="h-100">
          <div class="card-body">

            <div class="container card" style="height: 280px; overflow-y: auto;">
              <div class="row p-3">
                <div class="col-12">
                  <app-notifications></app-notifications>
                </div>
              </div>
            </div>

            <app-statistics></app-statistics>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="history-card h-100 d-flex flex-column">
          <app-history [items]="history" (itemClickedEmitter)="onHistoryItemClick($event)">
          </app-history>

          <div class="flex-grow-1"></div>

          <mat-paginator [length]="length" (page)="handlePageEvent($event)" [pageSize]="size" [hidePageSize]="true">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>