<div class="container-fluid">
  <div>
    <nav class="navbar header-nav">
      <span class="dashboard-heading pt-1">Hello <strong>{{ user.data.name }}</strong>, Welcome to EIMS</span>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="row d-flex align-items-stretch">
      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="card h-100">
          <app-progress [items]="progress"></app-progress>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="h-100">
          <div class="card-body">

            <div class="container card" style="height: 280px; overflow-y: auto;">
              <div class="row py-3 px-2">
                <div class="col-12">
                  <app-notifications></app-notifications>
                </div>
              </div>
            </div>

      <app-statistics></app-statistics>
      
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="history-card h-100 container  d-flex flex-column">
          <app-history [items]="history" (itemClickedEmitter)="onHistoryItemClick($event)"></app-history>
          <div class="flex-grow-1"></div>
          <mat-paginator [length]="length" (page)="handlePageEvent($event)" [pageSize]="size" [hidePageSize]="true"
                         aria-label="Select page">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
