<!-- <div class="container">

    <div class="row">
        <div class="col d-flex justify-content-end">
          <p class="clear p-3" (click)="onClear()">
            Clear
            <img class="" src="assets/icons/main-layout-icons/clear-icon.svg" alt="Clear Icon">
          </p>
        </div>
      </div>
      
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p class="success">SUCCESS</p>
        </div>
        <lottie-player
          slot="end"
          autoplay
          loop
          src="assets/img/animations/Success.json"
          style="height: 300px; padding-top: 30px; "
        >
        </lottie-player>
    </div>
    <div class="row">
      <div class="col" class="text-center">
        <p style="font-size: 15px; font-weight: bold;">Your Nomination has been submitted successfully.</p>
      </div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
</div> -->

<!-- Vertically centered modal -->
<!-- <div class="modal-dialog modal-dialog-centered">
  ...
</div>

 Vertically centered scrollable modal -->
<!-- <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  ...
</div> -->
