<div class="modal-content px-2 responsive-width">
    <div class="modal-header">
        <h3 class="modal-title" style="font-weight: bold; color: #741110;" >Department Particulars</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <ngb-alert class="" *ngIf="alert.isOpen" type="{{ alert.type }}" (closed)="onCloseAlert()">
            <strong>{{ alert.title }}</strong> {{ alert.message }}
        </ngb-alert>

        <!-- TABLE -->
        <table class="table">
            <thead>
                <tr>
                    <th>CODE</th>
                    <th>NAME</th>
                    <th>HOD</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ item.code }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.deptHead.staffNo }}: {{ item.deptHead.firstName }} {{ item.deptHead.lastName }}</td>
                </tr>
            </tbody>
        </table>

        <!--  Search Section -->
        <div>
            <div *ngIf="!HODResults">
                <form (submit)="onSearch($event)">
                    <div class="row">
                        <div class="col-12">
                            <div style="font-weight: bold; color: #133B3A;">Search Head of Department</div>
                            <mat-form-field appearance="outline" class="w-100 p-0 unique">
                                <input matInput placeholder="Search by P.No" [(ngModel)]="searchText" />
                                <button style="border: none; background-color: #FFFFFF;" class="me-2" matSuffix
                                    (click)="onSearch($event)">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="HODResults" class="p-3 shadow-lg rounded bg-white">
                <div class="d-flex justify-content-between">
                    <p class="fw-bold">HOD Details</p>
                    <div>
                        <button class="custom-button" (click)="toggleSearch()"> Clear                            
                        </button>
                    </div>
                </div>
                <div class="d-flex align-items-center my-2">
                    <table class="table mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>NAME</th>
                                <th>PERSONAL NO.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ staffName }}</td>
                                <td>{{ staffNo }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row my-2">
                    
                        <div class="col-6 mt-2">
                            <button type="button" (click)="cancel()" class="btn btn-block btn-rounded outlined-button">
                                Cancel <img src="assets/icons/main-layout-icons/clear-icon.svg" alt="Clear Icon">
                            </button>
                        </div>
                        <div class="col-6 mt-2">
                            <button type="button" class="btn btn-block btn-rounded filled-button"
                            (click)="onSubmit()">Submit
                                <img src="./assets/icons/main-layout-icons/submit.svg" class="pb-1" alt="Submit" />
                            </button>
                        </div>
                                     
                </div>
            </div>
        </div>


        <div class="row p-0" *ngIf="showSearchResults">
            <div class="d-flex align-items-center justify-content-between">
                <p>
                    <strong style="font-size: 14px; font-weight: bold; margin-right: 15px;">{{ staffName }}</strong>
                    <strong style="font-size: 14px; font-weight: bold; margin-right: 15px;">{{ staffNo }}</strong>
                </p>
                <button (click)="addHOD()" type="button" class="btn btn-sm custom-outline">
                    ADD HOD
                </button>
            </div>
        </div>
    </div>
    <!-- <div class="modal-footer"></div> -->
</div>


<ng-template #content let-modal>
    <div class="modal-header">
      <div class="col d-flex justify-content-center">
        <p class="success">SUCCESS</p>
      </div>
      <button type="button" class="btn-close" aria-label="Close" (click)="onCloseClick()"></button>
    </div>
    <lottie-player slot="end" autoplay loop src="assets/img/animations/Success.json" style="height: 150px;">
    </lottie-player>
    <div class="col text-center">
      <p style="font-size: 15px; font-weight: bold;">Your task has been submitted successfully.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="onCloseClick()">Close</button>
    </div>
  </ng-template>