<div class="container-fluid">
  <div class="pt-3">
    <nav class="navbar header-nav">
      <span class="dashboard-heading">Gifts Given Out Declaration</span>
    </nav>
  </div>

  <div class="container-fluid align-items-center">
    <div class="row justify-content-md-center">

      <!-- COLUMN 1 -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="container py-4 card1">
          <h2 class="fw-bold" style="color:#570c0c;">Declaration Progress</h2>

          <div class="row p-0">
            <div class="col p-0">
              <mat-vertical-stepper [linear]="false">
                <ng-template matStepperIcon="edit">
                  <mat-icon>radio_button_unchecked</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="chat">
                  <mat-icon>radio_button_unchecked</mat-icon>
                </ng-template>

                <mat-step  state="chat" *ngFor="let item of historyProgress">
                  <ng-template matStepLabel><span class="fw-semibold ps-2">{{ item.actor }}</span></ng-template>
                  {{ item.action }}
                </mat-step>
              </mat-vertical-stepper>
            </div>
          </div>

        </div>
      </div>

      <!-- SECOND COLUNM -->
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="container card3 py-4">

          <div class="row">
            <div class="col-md-5 p-0">
              <h2 class="fw-bold" style="color:#570c0c;">Declaration Details</h2>
            </div>
            <div class="col-md-7 p-0">
              <div class="alert alert-warning d-flex align-items-center px-2 py-1" role="alert">
                <i class="material-icons" style="color: #741110 !important;">warning</i>
                <small>DO NOT declare if you have no conflict of interest!</small>
              </div>
            </div>
          </div>

          <form [formGroup]="giftForm" (ngSubmit)="submitGiftGivenDetails()">
            <div class="row p-0">
              <div class="col-md-4 p-1">
                <div class="form-label small">Declaration Date</div>
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput [matDatepicker]="picker" [value]="today" disabled
                         placeholder="{{ today | date:'M/d/yyyy' }}">
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-4 p-1">
                <div class="form-label small">Date you gave gift</div>
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput [matDatepicker]="picker1" formControlName="dateIssued"
                         placeholder="{{ today | date:'M/d/yyyy' }}">
                  <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error *ngIf="giftForm.get('dateIssued').hasError('required')">
                    Date is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4 p-1">
                <div class="form-label small">Occasion</div>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select placeholder="Courtesy" formControlName="occasionId">
                    <mat-option class="mat-options-font" *ngFor="let occasion of occasions" [value]="occasion.id">{{
                        occasion.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="giftForm.get('occasionId').hasError('required')">
                    Please select an occasion
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row p-0" *ngIf="giftForm.get('occasionId').value === 5">
              <div class="col-12 p-1">
                <div class="form-label small">Specify Other Occasion</div>
                <mat-form-field class="w-100" appearance="outline">
                  <input matInput formControlName="specified" placeholder="Type here.." />
                  <mat-error *ngIf="giftForm.get('specified').hasError('required')">
                    Please specify the occasion
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row p-0">
              <div class="col-md-4 p-1">
                <div class="form-label small">Value of Gift</div>
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput type="number" formControlName="value" placeholder="Type here..">
                  <mat-error *ngIf="giftForm.get('value').hasError('required')">
                    Please enter the value of the gift
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-8 p-1">
                <div class="form-label small">Name of Recipient</div>
                <mat-form-field appearance="outline" class="w-100 uniquew">
                  <div class="row">
                    <div class="col-8">
                      <input matInput class="w-100" placeholder="Type here.." formControlName="recipient">
                    </div>
                    <div class="col-4">
                      <div class="officer_button">
                        <mat-select class="w-100" placeholder="Officer" formControlName="officerType">
                          <mat-option class="mat-options-font" *ngFor="let type of officerEnumValues" [value]="type">
                            {{ officerTypeNames[type] }}
                          </mat-option>
                        </mat-select>
                      </div>

                    </div>
                  </div>
                  <mat-error *ngIf="giftForm.get('recipient').hasError('required')">
                    Please enter the recipient's name
                  </mat-error>
                  <mat-error *ngIf="giftForm.get('officerType').hasError('required')">
                    Please select an officer type
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row p-0">
              <div class="col-12 p-1">
                <div class="form-label small">Gift Description</div>
                <mat-form-field class="w-100" appearance="outline">
                  <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15" formControlName="description"></textarea>
                  <mat-error class="p-0 m-0" *ngIf="giftForm.get('description').hasError('required')">
                    Please enter a gift description
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-lg-6 col-sm-12">
                <div class="form-check terms">
                  <input class="form-check-input" type="checkbox" name="agree-to" value="legal-req"
                         formControlName="legalReqAgreed">
                  <label class="form-check-label" htmlFor="legal-req" style="font-size: 12px;">
                    I agree to the <span style="text-decoration: underline;"
                                         title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nemo quia molestias sed fugit? Debitis repudiandae numquam, cum perspiciatis adipisci dolor voluptas quo tenetur dolorem soluta animi iste sit consequatur fugiat consequuntur, neque quos blanditiis praesentium distinctio molestias repellendus commodi unde eaque. Magni nobis veniam voluptas, ipsam quos voluptates commodi!">
                      Legal Requirements</span>
                  </label>
                </div>
              </div>
            </div>

            <ng-template #content let-modal>
              <div class="modal-header">
                <div class="col d-flex justify-content-center">
                  <p class="success">SUCCESS</p>
                </div>
                <button type="button" class="btn-close" aria-label="Close" (click)="onCloseClick()"></button>
              </div>
              <lottie-player slot="end" autoplay loop src="assets/img/animations/Success.json" style="height: 150px;">
              </lottie-player>
              <div class="text-center">
                <p style="font-size: 15px; font-weight: bold;">Your Nomination has been submitted successfully.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onCloseClick()">Close</button>
              </div>
            </ng-template>

            <div class="row mt-3 mb-4">
              <div class="col-6">
                <button type="button" class="btn btn-primary btn-block btn-rounded" (click)="clearField()"
                        style="background-color: #FFFFFF; color: #E12827; border: #E12827 1px solid;">Clear
                  <img src="./assets/icons/main-layout-icons/clear-icon.svg" alt="Clear Icon">
                </button>
              </div>
              <div class="col-6">
                <button type="submit" class="btn  btn-block btn-rounded" style="background-color: #E12827;"
                        [disabled]="!giftForm.valid">Submit
                  <img src="./assets/icons/main-layout-icons/submit.svg" class="pb-1" alt="Submit Icon">
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- THIRD COLUMN -->
      <div class="col-lg-3 col-md-12 col-sm-12">

        <div class="container py-2 card4">
          <div class="row">
            <div class="d-flex p-1 align-items-center w-100">
              <img src="./assets/icons/main-layout-icons/history.svg" class="ms-2 mt-1"
                   style="height:20px;" alt="">
              <h2 class="flex-grow-1 pt-3 ms-1 fw-bold" style="color: #570c0c">History</h2>
              <i class="material-icons" style="color: #ABABAB !important;">more_vert</i>
            </div>
          </div>

          <div class="row">
            <div class="p-0" *ngIf="history.length > 0; else noItems">
              <div class="p-0 history-item" *ngFor="let item of history" (click)="onHistoryItemClick(item.id)">
                <div class="row px-3">
                  <div class="d-flex align-items-center w-100">
                    <img src="./assets/icons/gift-icon.png" alt="">
                    <h4 class="flex-grow-1 pt-3 ms-1 fw-bold">{{ item.title }}</h4>
                    <h4 class="text-secondary small pt-3">{{ item.date | date:'dd/MM/yyyy' }}</h4>
                  </div>
                </div>
                <div class="row px-3 pb-3">
                  <p class="truncate-lines">{{ item.summary }}</p>
                </div>
              </div>

              <mat-paginator
                [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="onPageChange($event)" [pageIndex]="currentPage"
              />
            </div>

            <ng-template #noItems>
              <p class="small fw-semibold">You haven't made any declarations yet.</p>
              <p>Once you make a declaration you will view a history of your declarations here.</p>
            </ng-template>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
