<div class="container-fluid p-0">
  <div>
    <nav class="navbar header-nav">
      <span class="dashboard-heading">Gifts Given Out Declaration</span>
    </nav>
  </div>

  <div class="container-fluid align-items-center">
    <div class="row justify-content-md-center">

      <!-- COLUMN 1 -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <app-progress [items]="historyProgress"></app-progress>
      </div>

      <!-- SECOND COLUNM -->
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="container card3 py-4">

          <div class="row">
            <div class="col-md-5 p-0">
              <h2 class="fw-bold" style="color:#570c0c;">Declaration Details</h2>
            </div>
            <div class="col-md-7 p-0">
              <div class="alert alert-warning d-flex align-items-center px-2 py-1" role="alert">
                <i class="material-icons" style="color: #741110 !important;">warning</i>
                <small>DO NOT declare if you have no conflict of interest!</small>
              </div>
            </div>
          </div>

          <form [formGroup]="giftForm" (ngSubmit)="submitGiftGivenDetails()">
            <div class="row p-0">
              <div class="col-md-4 p-1">
                <div class="form-label small">Declaration Date</div>
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput [matDatepicker]="picker" [value]="today" disabled
                         placeholder="{{ today | date:'M/d/yyyy' }}">
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-4 p-1">
                <div class="form-label small">Date you gave gift</div>
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput [matDatepicker]="picker1" formControlName="dateIssued"
                         placeholder="{{ today | date:'M/d/yyyy' }}">
                  <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error *ngIf="giftForm.get('dateIssued').hasError('required')">
                    Date is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4 p-1">
                <div class="form-label small">Occasion</div>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select placeholder="Courtesy" formControlName="occasionId">
                    <mat-option class="mat-options-font" *ngFor="let occasion of occasions" [value]="occasion.id">{{
                        occasion.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="giftForm.get('occasionId').hasError('required')">
                    Please select an occasion
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row p-0" *ngIf="giftForm.get('occasionId').value === 5">
              <div class="col-12 p-1">
                <div class="form-label small">Specify Other Occasion</div>
                <mat-form-field class="w-100" appearance="outline">
                  <input matInput formControlName="specified" placeholder="Type here.." />
                  <mat-error *ngIf="giftForm.get('specified').hasError('required')">
                    Please specify the occasion
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row p-0">
              <div class="col-md-4 p-1">
                <div class="form-label small">Value of Gift</div>
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput type="number" formControlName="value" placeholder="Type here..">
                  <mat-error *ngIf="giftForm.get('value').hasError('required')">
                    Please enter the value of the gift
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-8 p-1">
                <div class="form-label small">Name of Recipient</div>
                <mat-form-field appearance="outline" class="w-100 uniquew">
                  <div class="row">
                    <div class="col-8">
                      <input matInput class="w-100" placeholder="Type here.." formControlName="recipient">
                    </div>
                    <div class="col-4">
                      <div class="officer_button">
                        <mat-select class="w-100" placeholder="Officer" formControlName="officerType">
                          <mat-option class="mat-options-font" *ngFor="let type of officerEnumValues" [value]="type">
                            {{ officerTypeNames[type] }}
                          </mat-option>
                        </mat-select>
                      </div>

                    </div>
                  </div>
                  <mat-error *ngIf="giftForm.get('recipient').hasError('required')">
                    Please enter the recipient's name
                  </mat-error>
                  <mat-error *ngIf="giftForm.get('officerType').hasError('required')">
                    Please select an officer type
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row p-0">
              <div class="col-12 p-1">
                <div class="form-label small">Gift Description</div>
                <mat-form-field class="w-100" appearance="outline">
                  <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15" formControlName="description"></textarea>
                  <mat-error class="p-0 m-0" *ngIf="giftForm.get('description').hasError('required')">
                    Please enter a gift description
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-lg-6 col-sm-12">
                <div class="form-check terms">
                  <input class="form-check-input" type="checkbox" name="agree-to" value="legal-req"
                         formControlName="legalReqAgreed">
                  <label class="form-check-label" htmlFor="legal-req" style="font-size: 12px;">
                    I agree to the <span style="text-decoration: underline;"
                                         title="I do hereby declare that the information provided herein is accurate, complete and true to the best of my knowledge in line with sections 46 (1) (d) and 46 (2) of the Leadership and Integrity Act, 2012 and 12 (3) of the Public Officers Ethics Act, 2003.">
                      Legal Requirements</span>
                  </label>
                </div>
              </div>
            </div>

            <ng-template #content let-modal>
              <div class="modal-header">
                <div class="col d-flex justify-content-center">
                  <p class="success">SUCCESS</p>
                </div>
                <button type="button" class="btn-close" aria-label="Close" (click)="onCloseClick()"></button>
              </div>
              <lottie-player slot="end" autoplay loop src="assets/img/animations/Success.json" style="height: 150px;">
              </lottie-player>
              <div class="text-center">
                <p style="font-size: 15px; font-weight: bold;">Your Nomination has been submitted successfully.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onCloseClick()">Close</button>
              </div>
            </ng-template>

            <div class="row mt-3 mb-4">
              <div class="col-6">
                <button type="button" class="btn btn-primary btn-block btn-rounded" (click)="clearField()"
                        style="background-color: #FFFFFF; color: #E12827; border: #E12827 1px solid;">Clear
                  <img src="./assets/icons/main-layout-icons/clear-icon.svg" alt="Clear Icon">
                </button>
              </div>
              <div class="col-6">
                <button type="submit" class="btn  btn-block btn-rounded" style="background-color: #E12827;"
                        [disabled]="!giftForm.valid">Submit
                  <img src="./assets/icons/main-layout-icons/submit.svg" class="pb-1" alt="Submit Icon">
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- THIRD COLUMN -->
      <div class="col-lg-3 col-md-12 col-sm-12">
        <app-history
          [items]="history"
          (itemClickedEmitter)="onHistoryItemClick($event)"
        ></app-history>
      </div>

    </div>
  </div>
</div>
