<div class="container-fluid p-0">

    <div>
        <nav class="navbar header-nav">
            <span class="dashboard-heading">Policy Documents</span>
        </nav>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 ">
        <div class=" card m-4 h-100" >
         <div class=" card-body" style="height: 500px;" >
                 <div class="card-container">
                    <div class="card1">
                      <div class="card-content">
                        <h3>Card 1</h3>
                        <p>This is the content of card 1.</p>
                      </div>
                    </div>
                    <div class="card1">
                      <div class="card-content">
                        <h3>Card 2</h3>
                        <p>This is the content of card 2.</p>
                      </div>
                    </div>
                    <div class="card1">
                      <div class="card-content">
                        <h3>Card 3</h3>
                        <p>This is the content of card 3.</p>
                      </div>
                    </div>
                    <div class="card1">
                      <div class="card-content">
                        <h3>Card 4</h3>
                        <p>This is the content of card 4.</p>
                      </div>
                    </div>
                  </div> 

            </div> 
        </div>
    </div>

</div>