<div class="container-fluid p-0">

    <div>
        <nav class="navbar header-nav">
            <span class="dashboard-heading">Policy Documents</span>
        </nav>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 ">
        <div class=" card m-4 h-100" >
         <div class=" card-body" style="height: 500px;" >
                 <div class="card-container">
                    <div class="card1">
                      <div class="card-content">
                        <h3>KRA Anti-Corruption Policy</h3>
                        <button>DOWNLOAD.</button>
                      </div>
                    </div>
                    <div class="card1">
                      <div class="card-content">
                        <h3>Navigating Conflict of Interest</h3>
                        <button>DOWNLOAD.</button>
                      </div>
                    </div>
                    <div class="card1">
                      <div class="card-content">
                        <h3>KRA Gift Policy</h3>
                        <button>DOWNLOAD.</button>
                      </div>
                    </div>
                    <div class="card1">
                      <div class="card-content">
                        <h3>KRA Conflict of Interest Policy</h3>
                        <button>DOWNLOAD.</button>
                      </div>
                    </div>
                  </div> 

            </div> 
        </div>
    </div>

</div>