//  INPUT
.mdc-notched-outline {
    height: 75% !important;
}


// .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
//      padding-top: 8px !important;
//     // padding-bottom: 16px;
// }
    
// .mat-mdc-icon-button.mat-mdc-button-base {
//     padding-top: 3px;
//     padding-bottom: 14px;
//    }

// STEPPER

// .mat-mdc-form-field{
//     height:50px;
// }

.mat-mdc-tab .mdc-tab__text-label {
    color: #E12827 !important;
    display: inline-flex !important;
    align-items: center !important;
}
.mat-mdc-tab {
  
    background: none !important;
    font-family: Roboto !important;
    font-size: 30px;
    // letter-spacing:
    // line-height: 
    font-weight: bold !important;
}
.mdc-tab {
   min-width: 100px !important;
}
.mat-mdc-tab-label-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    z-index: 1;
    border-bottom: 1px solid rgb(215, 212, 212)!important;
}
.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: #E12827;
    --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, .38);
    --mat-tab-header-pagination-icon-color: #000;
    --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, .6);
    --mat-tab-header-active-label-text-color:#E12827;
    --mat-tab-header-active-ripple-color: #E12827;
    --mat-tab-header-inactive-ripple-color: #3f51b5;
    --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, .6);
    --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, .6);
    --mat-tab-header-active-focus-label-text-color:rgba(0, 0, 0, .6);
    --mat-tab-header-active-hover-label-text-color:rgba(0, 0, 0, .6);
    --mat-tab-header-active-focus-indicator-color: #E12827;
    --mat-tab-header-active-hover-indicator-color: #E12827;
}


.mdc-tab {
    padding-right: 24px;
    padding-left: 24px;
    display: flex;
    flex: 1 0 auto;
    justify-content:left;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    z-index: 1;
}
.mat-mdc-tab-labels {
    display: flex;
    flex: 1 0 auto;
    width:300px !important;
}

.mat-step-icon .mat-icon {
    font-size: 6px;
    height: 6px;
    width: 6px;
}
.mat-step-icon-content {
    color: white;
    padding-left: 4px;
}

.mat-step-header .mat-step-icon {
    margin-right: 3px !important;
}

.mat-vertical-content-container {
    margin-left: 36px !important;
}

.mat-step-icon-selected {
    background-color: #E12827 !important;
    color: #0000 !important;
}

.mat-step-icon-state-done {
    background-color: #E12827 !important;
}

.mat-step-icon-state-edit {
    background-color: #E12827 !important;
}

.mat-step-icon-state-active{
    background-color: #E12827 !important;
}

.material-icons {
    color: #000 !important;
   
}
.mat-vertical-stepper-header {
    display: flex;
    align-items: center;
    height: 5px !important;
    padding: 2px;
}
.mat-step-icon {
    background-color: #E12827 !important;
}

.year-calendar__body{
    // background-color: #1a570c;
    border-radius: 6px;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // width:1000px!important;
  }
  .year-calendar__body__month{
    width:300px !important;
    margin: 0 30px;
    // background-color: antiquewhite;
  }
  .year-calendar__body__month__inner__week__day{
    width:20px !important;
    height: 20px !important;
  }
  .year-calendar__body__month__inner{
    // padding:0 !important;
  }
  .year-calendar__header
  {
    align-items: center;
    justify-content: space-between!important;
    padding: 0 !important;
    border-bottom: 2px solid #E8ECEF;
  }
  .year-calendar__header__options__option{
     margin:20px;
     border-radius: 30%;
  }
  .year-calendar__header__year-name{
    font-weight: 700;
    font-size: 15px;
    color: #741110;
  }


  .year-calendar__body__month__inner__week__day{
    // background-color: aquamarine !important;
  }
  .year-calendar__body__month__inner__week__day {

 }
 .highlight-day {
    background-color: yellow !important;
  }

 @media (max-width: 960px) {
    .year-calendar__body__month {
        width: 150px !important;
    }
    .year-calendar__header__options__option{
        margin:4px;
       
    }
    
}

