.header-nav {
  height: 50px;
  width: 100%;
  padding-left: 15px;
  opacity: 1;
  margin-bottom: 10px;

}

.dashboard-heading {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;

}

.card1 {
  background-color: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 15px;
  opacity: 0.9;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  min-height: 800px;
  max-height: 800px;

}

.add-memberbtn {
  position: absolute;
  bottom: 0;
  padding-bottom: 70px;
  width: 272px;
}

.search-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.file_input {
  border: solid 1px #707070;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 70px;
  cursor: pointer;
  color: black;
  height: 50px;
  background-color: #FFFFFF;
}


.material-icons {
  margin-right: 5px;
  color: #BFBFBF;
}

.search-bar {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.line-text {
  margin-right: auto;
  padding: 10px;

}

.delete-icon {
  color: #BFBFBF;
  cursor: pointer;
}


.assign-role {
  color: #133B3A;
  font-size: 18px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}

.yes_no_button {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #707070;
}
  .yes_no_button.selected {
    background-color: #E12827;
    color: #fff;
    }

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.button-sm {
  border: 1px solid #707070;
  padding: 8px 25px;
  /* Increase the width of the first button */
  font-size: 14px;
  color: #707070;
  border-radius: 20px;
  /* Add rounded corners */
}

.button-lg {
  border: 1px solid #707070;
  padding: 10px 20px;
  font-size: 18px;
  color: #707070;
  border-radius: 20px;
  /* Add rounded corners */
}

.assign-privileges-text {
  color: #133B3A;
  font-size: 18px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 600;
}

.form-check-input:checked {
  background-color: #741110;
  /* Dark background color when checked */
  border-color: #333;
  /* Dark border color */
}

.form-check-input {
  background-color: transparent;
  /* Default background color */
  border-color: #741110;
  /* Default border color */
}

.form-check-inline {
  margin-left: 0;
  padding: 0;
}

.btn-black {
  border: 1px solid black;
  background-color: transparent;
  color: black;
  border-radius: 20px;
  /* Add border radius */
}

.btn-black:hover {
  background-color: #741110;
  /* Change background color on hover */
  color: white;
}

.btn-black {
  border: 1px solid #707070;
  background-color: transparent;
  color: #707070;
  border-radius: 40px;
  padding: 4px 5px;
}

.btn-black:hover {
  background-color: #741110;
  color: white;
  font-size: 12px;
}

//  SECOND COLUMN  

.tooltip-container {
  position: relative;
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: 300px;
  background-color: #F2F2F2;
  color: #000000;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -150px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.no-recent-activity {
  // width: 100px ;
  height: 32px;
  font-size: 19px;
  font-weight: 600;
  color: #741110;
  fill-opacity: 1;
  font-family: "Roboto";
}

.assign-rolee {
  //  width: 100px ;
  height: 40px;
  color: #F2F2F2;
  background: #E12827;
  opacity: 1;
  font-family: "Roboto";
  font-size: 18px;
  font-family: Roboto;
}

.card3 {
  margin-bottom: 15px;
  background-color: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 15px;
  opacity: 0.9;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  min-height: 800px;
  max-height: 800px;
  //  margin-left: 10px;
  //  margin-right: 10px;

}

.card4 {
  background-color: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 15px;
  opacity: 0.9;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
  min-height: 800px;
  max-height: 800px;
}

.xyz {
  width: 172px;

}

.textfonts {
  font-size: 11px;
  color: #000000;
}

.class-passport {
  width: 170px;
}


// ANIMATIONS
.animationcard {
  background-color: #FFFFFF;
  opacity: 0.8;
  padding-top: 50px;
}

.info {
  font-size: 40px;
  padding-bottom: 30px;
  text-align: center;
  color: rgb(9, 9, 9);
  font-family: Roboto;
}

.notify1 {
  font-size: 25px;
  text-align: center;
  color: rgb(9, 9, 9);
  padding-top: 50px;
  font-family: Roboto;
  margin: 0;
}

.notify2 {
  font-size: 25px;
  text-align: center;
  color: rgb(9, 9, 9);
  padding-bottom: 40px;
  padding-top: 10px;
  font-family: Roboto;
  margin: 0;
}

.search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.select-container {
  width: 50%;
  margin-right: 10px;
}


.member-info {
  width: 100%;
  /* adjust the width as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.user {
  font-size: 16px;
  font-weight: 600;
  padding-left: 15px;
  color: #133B3A;
  border-bottom: 1px solid #ccc;
}
.select.mat-mdc-form-field {
  padding: 0;
  margin: 0;
  height: 40px;
}

.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
  background-color: #FFFFFF;
}

.mat-mdc-form-field-infix {
  min-height: 30px;
}

.mat-mdc-form-field-subscript-wrapper {
  height: 2px;
}

.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 16px;
  padding-bottom: 0;
  // padding-left: 0;
  // padding-right: 0;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: none;
}


 .mat-mdc-form-field-error-wrapper {  
   padding: 0 !important;
 }

.mat-select {
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.mat-select::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  pointer-events: none;
}

.mat-select:hover {
  border-color: #aaa;
}

.mat-select:focus {
  border-color: #aaa;
  box-shadow: 0 0 0 1px #aaa;
}

.mat-icon {
  font-size: 18px;
  cursor: pointer;
}

.unique.mat-mdc-form-field-infix {
  padding-top: 8px;
  padding-bottom: 16px;
} 

.history-item {
transition: background-color 0.3s; /* Adds a smooth transition effect */
}

.history-item:hover {
background-color: #00000029;
}



// .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
//  padding-top: 0 !important; 
// padding-bottom: 0 !important; 
// }

@media screen and (max-width: 771px) {
  .xyz {
    width: 100%;
  }

  .card3 {
    min-height: auto;
    max-height: none;
  }
  .card1 {
    min-height: auto;
    max-height: none;
  }
  .card4 {
    min-height: auto;
    max-height: none;
  }

  .declaration-title {
    width: 100%;
  }

  .class-passport {
    width: 100%;
  }

  .add-memberbtn {
    position: relative;
    margin-top: 350px;
    width: 100%;
    bottom: auto;

  }

  .info {
    font-size: 20px;
    padding-bottom: 15px;
  }

  .notify1 {
    font-size: 12px;
    padding-top: 20px;
  }

  .notify2 {
    font-size: 12px;
  }
}

.btn-rounded {
  border-radius: 25px;
  width: 100%;
}