<div class="container p-0 ">
  <div>
    <nav class="navbar header-nav">
      <span class="dashboard-heading">Group Conflict of Interest Declaration</span>
    </nav>
  </div>

  <div class="container align-items-center">
    <div class="row justify-content-md-center">


      <!-- COLUMN 1 -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="container  card1">

          <div *ngIf="!historyItemClicked">
            <div class="row">
              <div class="col-12 p-3">
                <p class="fw-semibold" style="color: #741110; font-size: 20px;font-family:'Roboto';">Group Members
                </p>
              </div>
              <div class="col-12 pt-1 ps-3">
                <p class="" style="color: #133B3A; font-size: 15px; font-weight: 600; font-family:'Roboto';">Confirm
                  to Whitelist
                </p>
              </div>
            </div>

            <div>
              <ngb-alert [dismissible]="true" *ngIf="errorMessage" type="danger" class="alertss"
                (closed)="errorMessage = false">
                <span style="font-size: 12px">{{ errorMessage }}</span>
              </ngb-alert>
            </div>

            <form (submit)="onSubmit($event)">
              <div class="row">
                <div class="col-12 ">
                  <div class="search-container">
                    <i style="cursor: pointer" class="material-icons" (click)="onSubmit($event)">search</i>
                    <input type="text" placeholder="Search by P.No" [(ngModel)]="searchText" class="search-bar" />
                  </div>
                </div>
              </div>
            </form>

            <!-- Selected Result Display -->
            <div class="selected-result-container" *ngIf="showResultDetails">
              <!-- Display details of the selected result here -->
              <p style="font-size: 14px; font-weight: bold;" class="mt-2">{{ specificName }}</p>
              <button
                style=" width:100%; height:30px; background-color: #FFFFFF; color: #707070; border: #707070 1px solid; font-size: 12px;"
                class="btn btn-primary btn-block member-btn btn-rounded "
                (click)="addMember({name: specificName, option: '',staffNo:staffNo})">
                <img src="assets/icons/main-layout-icons/add-member.svg" class="pb-1" style="height:20px"
                  alt="Submit Icon">
                Add Member
              </button>
            </div>

            <div class="mt-4 mb-3 search d-flex flex-wrap">
              <div class="select-container">
                <mat-form-field class="w-100 select" appearance="none">
                  <mat-select style="font-size: 12px; font-weight: 500;" disabled [(ngModel)]="selectedOption">
                    <mat-option value="Chairperson">
                      Chairperson
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="member-info user">
                {{ loggedInUsername }}
              </div>
            </div>

            <form [formGroup]="conflictForm">
              <div formArrayName="members">
                <div *ngFor="let memberControl of members.controls; let i = index" [formGroupName]="i"
                  class="mt-4 mb-3 search d-flex flex-wrap">
                  <div class="select-container">
                    <mat-form-field appearance="fill" class="w-100 select">
                      <mat-select style="font-size: 12px; font-weight: 500;" formControlName="option">
                        <mat-option *ngFor="let option of options" [value]="option">
                          {{ option }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="member-info user">
                    <!-- Display the 'name' property of the member control -->
                    {{ memberControl.get('name').value }}
                    <!-- Pass the index 'i' to the removeMember function -->
                    <mat-icon style="margin-left: auto;" (click)="removeMember(i)">delete</mat-icon>
                  </div>
                </div>
              </div>
            </form>

            <ng-template #content let-modal>
              <div class="modal-header">
                <div class="col d-flex justify-content-center">
                  <p class="success">SUCCESS</p>
                </div>
                <button type="button" class="btn-close" aria-label="Close" (click)="onCloseClick()"></button>
              </div>
              <lottie-player slot="end" autoplay loop src="assets/img/animations/Success.json" style="height: 150px;">
              </lottie-player>
              <div class="col" class="text-center">
                <p style="font-size: 15px; font-weight: bold;">Group Conflict submitted successfully.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onCloseClick()">Close</button>
              </div>
            </ng-template>
            <div class="row  add-memberbtn">
              <div class="col-12">
                <button (click)="validate()"
                  style=" width:100%; background-color: #FFFFFF; color: #707070; border: #707070 1px solid; font-size: 14px;"
                  class="btn btn-primary btn-block member-btn btn-rounded ">
                  <img src="assets/icons/main-layout-icons/add-member.svg" class="pb-1" alt="Submit Icon">
                  Validate
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="historyItemClicked">
            <app-progress [items]="historyProgress"></app-progress>
          </div>

        </div>
      </div>

      <!-- SECOND COLUNM -->
      <div class="col-lg-6 col-md-6 col-sm-6 ">
        <div class="container card3">
          <div class="row d-flex justify-content-between pe-0">
            <div class="col-md-4 p-0 ">
              <p class="fw-semibold mr-2 " style="color: #741110; font-size: 20px; font-family:'Roboto';">Assignment
                Details
              </p>
            </div>
            <div class="col-md-8 py-0 d-flex " style="background-color: #FBE4E4; max-height: 25px;">
              <i class="material-icons " style="color: #741110!important;">warning</i>
              <span class="" style="color:#133B3A; font-size: 11px; padding-top: 8px;  ">DO NOT declare if you have no
                conflict of
                interest!</span>
            </div>
          </div>


          <form [formGroup]="groupConflictForm" (ngSubmit)="submitGroupConflictDetails()">
            <div class="row mt-3 pb-3 ">
              <div class="col-md-4 p-0">
                <div class="textfonts">Declaration Date</div>
                <mat-form-field appearance="outline" class="p-0 xyz">
                  <input matInput [matDatepicker]="picker" [value]="today" disabled style="font-size: 12px;"
                    placeholder="09/07/2023">
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>


              <div class="col-md-4 p-0 ">
                <div class="textfonts">Assignment Date</div>
                <mat-form-field appearance="outline" class="p-0 xyz">
                  <input matInput [matDatepicker]="picker1" style="font-size: 12px; margin-left: 0;"
                    formControlName="date" placeholder="09/07/2023">
                  <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-error style="font-size: 11px;" *ngIf="groupConflictForm.get('date').hasError('required')">Date is
                    required</mat-error>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-4 p-0 ">
                <div class="textfonts">ID/Passport Number</div>
                <mat-form-field appearance="outline" class="p-0 xyz">
                  <input matInput style="font-size: 12px;" formControlName="identityNo" placeholder="Type here">
                  <mat-error style="font-size: 11px;"
                    *ngIf="groupConflictForm.get('identityNo').hasError('required')">ID
                    Number is
                    required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row mt-1 pb-3">
              <div class="col-md-6 p-0 ">
                <div class="textfonts">Venue of Official Assignment</div>
                <mat-form-field appearance="outline" class="p-0" style="width: 260px;">
                  <input matInput style="font-size: 12px;" formControlName="venue" placeholder="Type here">
                  <mat-error style="font-size: 11px;" *ngIf="groupConflictForm.get('venue').hasError('required')">Venue
                    is
                    required</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6 p-0">
                <div class="textfonts">Assignment Title</div>
                <mat-form-field appearance="outline" class="p-0 w-100">
                  <input matInput style="font-size: 12px;" formControlName="title" placeholder="Type here">
                  <mat-error style="font-size: 11px;" *ngIf="groupConflictForm.get('title').hasError('required')">
                    Assignement title is
                    required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row pb-3 mt-1">
              <div class="col-12 p-0">
                <div class=" textfonts">Assignment Description</div>
                <mat-form-field style="width:100%; ">
                  <textarea matInput style="font-size: 12px;" formControlName="assignmentDesc"></textarea>
                  <mat-error style="font-size: 11px;"
                    *ngIf="groupConflictForm.get('assignmentDesc').hasError('required')">Assignment Description
                    is
                    required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row mt-2">
              <div style="display: flex; align-items: center;">
                <p style="margin-right: 10px; font-weight: bold; color: #133B3A;">
                  Do you have a Conflict of Interest?
                </p>
                <button id="noButton" type="button" class="yes_no_button mb-2 me-2"
                  (click)="onNoConflictClick()">No</button>
                <button id="yesButton" type="button" class="yes_no_button mb-2" (click)="onConflictClick()">Yes</button>
              </div>
            </div>

            <div class="row mt-2 pb-3" *ngIf="showConflictDescription">
              <div class="col-md-12 p-0">
                <div class="textfonts">Conflict Description</div>
                <mat-form-field appearance="outline" class="p-0 w-100">
                  <input matInput style="font-size: 12px;" formControlName="conflictDesc" placeholder="Type here">
                  <mat-error style="font-size: 11px;"
                    *ngIf="groupConflictForm.get('conflictDesc').hasError('required')">Provide conflict
                    description</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-1 mt-1">
              <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="form-check terms">
                  <input class="form-check-input" type="checkbox" name="agree-to" value="legal-req"
                    formControlName="legalReqAgreed">
                  <label class="form-check-label" htmlFor="legal-req" style="font-size: 12px;">
                    I agree to the <span class="tooltip-container">
                      <span class="tooltip-text">Legal Requirements</span>
                      <span class="tooltip">I do hereby declare that the information provided herein is accurate,
                        complete and true to the best of my knowledge in line with sections 46 (1) (d) and 46 (2) of the
                        Leadership and Integrity Act, 2012 and 12 (3) of the Public Officers Ethics Act, 2003.</span>
                    </span>
                  </label>
                </div>
              </div>
            </div>

            <div class="row pb-3 mt-1" *ngIf="isLateDeclaration()">
              <div class="col-12 p-0">
                <div class=" textfonts">Reasons for late Declaration</div>
                <mat-form-field style="width:100%; ">
                  <textarea matInput style="font-size: 12px;" formControlName="reasons"></textarea>
                  <mat-error style="font-size: 11px;"
                    *ngIf="groupConflictForm.get('reasons').hasError('required')">Assignment Description
                    is required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row mt-1 mb-2" *ngIf="isLateDeclaration()">
              <mat-form-field appearance="fill">
                <input matInput formControlName="file" type="file" (change)="handleFileInput($event.target.files)"
                  multiple>
                <mat-error style="font-size: 11px;" *ngIf="groupConflictForm.get('file').hasError('required')"> File
                  upload is
                  required
                </mat-error>
              </mat-form-field>
            </div>

            <div class="row mt-3 mb-4">
              <div class="col-6">
                <button type="button" (click)="clearField()" class="btn  btn-block btn-rounded"
                  style="background-color: #FFFFFF; color: #E12827; border: #E12827 1px solid;font-size: 14px;">Clear
                  <img src="assets/icons/main-layout-icons/clear-icon.svg" alt="Clear Icon">
                </button>
              </div>
              <div class="col-6">
                <button type="button" type="submit" class="btn btn-block btn-rounded" style="background-color: #E12827;"
                  [disabled]="!groupConflictForm.valid">
                  <div *ngIf="isLoading" id="loading"></div>
                  <span *ngIf="!isLoading">Submit</span>
                  <img *ngIf="!isLoading" src="assets/icons/main-layout-icons/submit.svg" class="" alt="Submit" />
                </button>
              </div>
            </div>
          </form>
        </div>

      </div>

      <!-- THIRD COLUMN -->
      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="card4 container">
          <!-- <div class="row">
            <div class="d-flex px-3 align-items-center w-100">
              <img src="./assets/icons/main-layout-icons/history.svg" class="ms-2 mt-1" style="height:20px;" alt="">
              <h2 class="flex-grow-1 pt-3 ms-1 fw-bold" style="color: #570c0c">History</h2>
              <i class="material-icons" style="color: #ABABAB !important;">more_vert</i>
            </div>
          </div> -->
          
          <!-- <div class="row p-0" >
            <div class="p-0" *ngIf="history && history.length > 0; else noItems">
              <ng-template #noItems>
                <p class="small fw-semibold">You haven't made any declarations yet.</p>
                <p>Once you make a declaration you will view a history of your declarations here.</p>
              </ng-template>
                
              <div class="px-4 hover-class" *ngFor="let item  of history" (click)="onHistoryItemClick(item.id)">
                <div class="d-flex align-items-center w-100">
                  <img src="./assets/icons/gift-icon.png" alt="">
                  <h4 class="flex-grow-1 pt-3 ms-1 fw-bold" style="font-size: 14px;">{{item.title}}</h4>
                  <h4 class="pt-3" style="font-size: 12px;">{{ item.date | date:'dd/MM/yyyy' }}</h4>
                </div>
                <div class="row px-4 pb-3">
                  <p class="truncate-lines">{{item.summary}}</p>
                </div> -->
                <!--<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" [pageIndex]="currentPage"/>-->
              <!-- </div>           
            </div>
            <ng-template #noItems>
              <p class="small fw-semibold">You haven't made any declarations yet.</p>
              <p>Once you make a declaration you will view a history of your declarations here.</p>
            </ng-template>
          </div> -->
          <app-history [items]="history" (itemClickedEmitter)="onHistoryItemClick($event)"></app-history>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- PAGE UNDER CONSTRUCTION   
<div class="container  p-4">
  <div class="row">
   <div class="col-12">
     <div class="animationcard">
       <p class="info fw-medium">Page Under Construction</p>
       <lottie-player slot="end" autoplay loop src="assets/img/animations/ComingSoon.json"
         style="height: 400px; padding-left:50px; padding-right:50px; " >
       </lottie-player>
         <p class="notify1 fw-medium m-0">The wait won't be long.</p>
         <p class="notify2 fw-medium m-0">Once we launch you will be notified via Lotus Email.</p>
       
     </div>
   </div>
 </div>
</div>    -->